# Fala devs, blz?? 

Esta será nossa quinta lista de exercícios para você testar seu conhecimento acerca do conteúdo do MÓDULO 3:

-Pandas I

Para esta lista de exercícios utilizaremos uma base de dados contendo informações sobre a performance de alunos em exames
. A base de dados está disponível para download na plataforma Kaggle a partir do link abaixo:

https://www.kaggle.com/datasets/spscientist/students-performance-in-exams

## QUESTÃO 0

Carregue os dados do arquivo "StudentPerformance.csv" em um DataFrame com nome "df" e mostre as primeiras suas 10 primeiras linhas. 
<br>
*Certifique-se de que o arquivo se encontra no mesmo diretorio da lista 5.

In [1]:
import pandas as pd

#seu código começa aqui

df = pd.read_csv("StudentsPerformance.csv")

df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

Agora mostre as 10 **últimas** linhas do DataFrame.

In [2]:
import pandas as pd

#seu código começa aqui

df = pd.read_csv("StudentsPerformance.csv")

df.tail(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## QUESTÃO 1

**Exploração Inicial dos Dados**

a) Verifique o número de linhas e colunas no DataFrame. **(.shape)**

In [5]:
import pandas as pd

df = pd.read_csv("StudentsPerformance.csv")

df.shape

(1000, 8)

b) Liste as colunas presentes no DataFrame. **(.columns)**

In [8]:
import pandas as pd

df = pd.read_csv("StudentsPerformance.csv")

df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

c) Verifique se há valores nulos em cada coluna.

In [12]:
import pandas as pd

df = pd.read_csv("StudentsPerformance.csv")

df.isna()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False

## QUESTÃO 2

a) Antes de começarmos a trabalhar com os dados é preciso descartar dados que não serão utilizados em nossa análise. Utilize a lista abaixo para remover colunas irrelevantes.

In [22]:
remover = ["parental level of education","lunch"]

#SEU CÓDIGO COMEÇA AQUI
import pandas as pd

df = pd.read_csv("StudentsPerformance.csv")

df = df.drop(remover, axis=1)

print(df)

     gender race/ethnicity test preparation course  math score  reading score  \
0    female        group B                    none          72             72
1    female        group C               completed          69             90
2    female        group B                    none          90             95
3      male        group A                    none          47             57
4      male        group C                    none          76             78
..      ...            ...                     ...         ...            ...
995  female        group E               completed          88             99
996    male        group C                    none          62             55
997  female        group C               completed          59             71
998  female        group D               completed          68             78
999  female        group D                    none          77             86

     writing score
0               74
1               88
2               93
3               44
4               75
..             ...
995             95
996             55
997             65
998             77
999             86

[1000 rows x 6 columns]

b) Agora utilize o dicionário abaixo para renomear as colunas restantes.

In [124]:
nome_colunas = {
    "gender": "Gênero",
    "race/ethinicity": "Raça/Etnia",
    "test preparation course": "Curso_Prep",
    "math score" : "Nota_Matemática",
    "reading score":"Nota_Leitura",
    "writing score" : "Nota_Redação"
}

remover = ["parental level of education","lunch"]

#SEU CÓDIGO COMEÇA AQUI
import pandas as pd

df = pd.read_csv("StudentsPerformance.csv")

df = df.drop(remover, axis=1)

df = df.rename(columns=nome_colunas)

print(df)

     Gênero race/ethnicity Curso_Prep  Nota_Matemática  Nota_Leitura  \
0    female        group B       none               72            72
1    female        group C  completed               69            90
2    female        group B       none               90            95
3      male        group A       none               47            57
4      male        group C       none               76            78
..      ...            ...        ...              ...           ...
995  female        group E  completed               88            99
996    male        group C       none               62            55
997  female        group C  completed               59            71
998  female        group D  completed               68            78
999  female        group D       none               77            86

     Nota_Redação
0              74
1              88
2              93
3              44
4              75
..            ...
995            95
996            55
997            65
998            77
999            86

[1000 rows x 6 columns]

## QUESTÃO 3

Crie um DataFrame com as estatísticas descritivas de cada coluna com valores númericos. Estatísticas descritivas incluem dados como: média, mediana, desvio padrão, mínimo e máximo para cada uma dessas colunas.

In [123]:
nome_colunas = {
    "gender": "Gênero",
    "race/ethnicity": "Raça/Etnia",
    "test preparation course": "Curso_Prep",
    "math score" : "Nota_Matemática",
    "reading score":"Nota_Leitura",
    "writing score" : "Nota_Redação"
}

remover = ["parental level of education","lunch", "gender", "test preparation course", "race/ethnicity"]

import pandas as pd

df = pd.read_csv("StudentsPerformance.csv")
df = df.drop(remover, axis=1)
df = df.rename(columns=nome_colunas)
df = df.describe()
print(df)

       Nota_Matemática  Nota_Leitura  Nota_Redação
count       1000.00000   1000.000000   1000.000000
mean          66.08900     69.169000     68.054000
std           15.16308     14.600192     15.195657
min            0.00000     17.000000     10.000000
25%           57.00000     59.000000     57.750000
50%           66.00000     70.000000     69.000000
75%           77.00000     79.000000     79.000000
max          100.00000    100.000000    100.000000

## QUESTÃO 4

Crie um novo DataFrame contendo apenas os alunos que tiveram nota maior que a média em todos os exames chamado "df_acima_media". Mostre o DataFrame resultante e quantos dos alunos totais estão na nova tabela.

In [134]:
nome_colunas = {
    "gender": "Gênero",
    "race/ethnicity": "Raça/Etnia",
    "test preparation course": "Curso_Prep",
    "math score" : "Nota_Matemática",
    "reading score":"Nota_Leitura",
    "writing score" : "Nota_Redação"
}

remover = ["parental level of education","lunch", "gender", "test preparation course", "race/ethnicity"]

import pandas as pd

df = pd.read_csv("StudentsPerformance.csv")
df = df.drop(remover, axis=1)
df = df.rename(columns=nome_colunas)
df = df.median(axis=1)
df1 = df.mean()
df = df[df>df1]
print(df)

0      72.0
1      88.0
2      93.0
4      76.0
5      78.0
       ...
992    76.0
993    72.0
995    95.0
998    77.0
999    86.0
Length: 507, dtype: float64

## QUESTÃO 5

Crie uma nova coluna no Dataframe "df" com o nome "Nota_Geral" que represente a média da nota de cada aluno nas 3 disciplinas. Utilize esta nova coluna para ordenar os alunos de acordo com sua nota de forma que o aluno com maior nota geral esteja na primeira linha do DataFrame.

In [125]:
nome_colunas = {
    "gender": "Gênero",
    "race/ethnicity": "Raça/Etnia",
    "test preparation course": "Curso_Prep",
    "math score" : "Nota_Matemática",
    "reading score":"Nota_Leitura",
    "writing score" : "Nota_Redação"
}

remover = ["parental level of education", "lunch", "gender", "test preparation course", "race/ethnicity"]

import pandas as pd

df = pd.read_csv("StudentsPerformance.csv")
df = df.drop(remover, axis=1)
df = df.rename(columns=nome_colunas)
df = df.median(axis=1)
df = df.sort_values(ascending=False)
print(df)

149    100.0
165    100.0
903    100.0
106    100.0
916    100.0
       ...
76      26.0
596     24.0
980     23.0
327     23.0
59      10.0
Length: 1000, dtype: float64

## QUESTÃO 6

a) Conte quantos dos alunos pertencem a cada gênero.

In [120]:
import pandas as pd

df = pd.read_csv("StudentsPerformance.csv")

print(df["gender"].value_counts())

gender
female    518
male      482
Name: count, dtype: int64

b) Conte quantos dos alunos pertencem a cada Raça/Etnia.

In [121]:
import pandas as pd

df = pd.read_csv("StudentsPerformance.csv")

print(df["race/ethnicity"].value_counts())

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

c) Conte quantos dos alunos realizaram ou não algum curso preparatório.

In [122]:
import pandas as pd

df = pd.read_csv("StudentsPerformance.csv")

print(df["test preparation course"].value_counts())

test preparation course
none         642
completed    358
Name: count, dtype: int64

## QUESTÃO 7

Neste exercício deseja-se observar se o gênero de um aluno tem influência sobre seu acesso a cursos preparatórios. Para realizar esta tarefa agrupe os alunos de acordo com seus respectivos genêros (.groupby) e obtenha as proporções daqueles que realizaram algum curso e aqueles que não para cada um dos grupos (para obter a contagem da frequência relativa de um valor utilize **normalize=True**).

In [192]:
import pandas as pd

df = pd.read_csv("StudentsPerformance.csv")

gender = df.groupby('gender')

media = gender["test preparation course"].value_counts(normalize=True)

media

gender  math score
female  65            0.054054
        59            0.040541
        67            0.030888
        77            0.030888
        69            0.030888
                        ...
male    95            0.002075
        96            0.002075
        43            0.002075
        99            0.002075
        35            0.002075
Name: proportion, Length: 147, dtype: float64

## QUESTÃO 8

Neste exercício deseja-se observar qual das disciplinas examindas (Matemática, Leitura, Redação) é mais influênciada por cada um dos fatores qualitivos (Gênero, Raça/Etnia, Realização de Curso Preparatório). Para isso, agrupe a base de dados para cada um dos fatores qualitativos e calcule a diferença entre a maior e menor nota média em cada uma das disciplinas. A disciplina que possuir maior diferença entre as notas médias será considerada a mais influênciada.

a) Qual disciplina possui a maior diferença entre as notas médias de homens e mulheres.

In [280]:
import pandas as pd
remover = ["parental level of education","lunch", "gender", "test preparation course", "race/ethnicity"]
df = pd.read_csv("StudentsPerformance.csv")

gender = df.groupby('gender')
media = gender.mean([["math score", "reading score", "writing score"]]).value_counts(normalize=True)

b) Qual disciplina possui a maior diferença entre a maior e menor nota média dentre as diferentes Raças/Etnias.

In [230]:
import pandas as pd
df = pd.read_csv("StudentsPerformance.csv")

raceethnicity = df.groupby('race/ethnicity')
media = raceethnicity.mean[["math score", "reading score", "writing score"]].value_counts(normalize=True)

media

TypeError: 'method' object is not subscriptable

c) Qual disciplina possuir a maior diferença entre as notas médias daqueles que realizaram ou não cursos preparatórios.

In [232]:
import pandas as pd
remover = ["parental level of education","lunch", "gender", "test preparation course", "race/ethnicity"]
df = pd.read_csv("StudentsPerformance.csv")


testpreparationcourse = df.groupby('test preparation course')
media = testpreparationcourse[["math score", "reading score", "writing score"]].value_counts(normalize=True)

media

test preparation course  math score  reading score  writing score
completed                71          74             68               0.005587
                         62          66             68               0.005587
                         65          81             81               0.005587
                         66          74             81               0.005587
                         77          68             69               0.002793
                                                                       ...
none                     58          68             61               0.001558
                                     70             67               0.001558
                                     73             68               0.001558
                         59          41             42               0.001558
                         53          55             48               0.001558
Name: proportion, Length: 988, dtype: float64

## QUESTÃO 9

Neste exercício deseja-se observar qual dos fatores qualitativos (Gênero, Raça/Etnia, Realização de Curso Preparatório) possui maior discrepância de desempenho entre suas categorias para a nota geral do exame. Para isso, calcule a diferença entre a maior e menor nota média para cada um dos fatores e indique qual teve maior diferença. Utilize as funções (.groupby) e (.mean).

Qual das colunas possui maior discrepância para as Notas Gerais?

In [241]:
import pandas as pd

df = pd.read_csv("StudentsPerformance.csv")

aaaa = df["gender"][1]

print(aaaa)

female